#Text Classification for single layer neural network

In [0]:
# Library imports which are needed

import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [0]:
# Importing data from CSV
df = pd.read_csv('bbc-text.csv')

In [134]:
# Data Frame generated
df

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
5          politics  howard hits back at mongrel jibe michael howar...
6          politics  blair prepares to name poll date tony blair is...
7             sport  henman hopes ended in dubai third seed tim hen...
8             sport  wilkinson fit to face edinburgh england captai...
9     entertainment  last star wars  not for children  the sixth an...
10    entertainment  berlin cheers for anti-nazi film a german movi...
11         business  virgin blue shares plummet 20% shares in austr...
12         business  crude oil prices back above $50 cold weather a...
13         politics  hague  given up  his pm ambition former conser...
14            sport  moya emotional after davis cup win carlos moya...
15         business  s korean credit card firm rescued south korea ...
16         politics  howard backs stem cell research michael howard...
17            sport  connors boost for british tennis former world ...
18         business  japanese banking battle at an end japan s sumi...
19             tech  games maker fights for survival one of britain...
20             tech  security warning over  fbi virus  the us feder...
21             tech  halo 2 heralds traffic explosion the growing p...
22            sport  bates seals takeover ken bates has completed h...
23            sport  cole faces lengthy injury lay-off aston villa ...
24             tech  mobile audio enters new dimension as mobile ph...
25            sport  moya fights back for indian title carlos moya ...
26    entertainment  career honour for actor dicaprio actor leonard...
27             tech  mobile gig aims to rock 3g forget about going ...
28         politics  terror suspects face house arrest uk citizens ...
29    entertainment  halloween writer debra hill dies screenwriter ...
...             ...                                                ...
2195          sport  owen delighted with real display michael owen ...
2196       business  gm issues 2005 profits warning general motors ...
2197       politics  campbell returns to election team ex-downing s...
2198       business  asian banks halt dollar s slide the dollar reg...
2199       business  wall street cool to ebay s profit shares in on...
2200           tech  uk pioneers digital film network the world s f...
2201       business  ban on forced retirement under 65 employers wi...
2202           tech  local net tv takes off in austria an austrian ...
2203       politics  profile: david miliband david miliband s rapid...
2204           tech  argonaut founder rebuilds empire jez san  the ...
2205  entertainment  dance music not dead says fatboy dj norman coo...
2206       politics  kennedy questions trust of blair lib dem leade...
2207           tech  california sets fines for spyware the makers o...
2208  entertainment  snicket tops us box office chart the film adap...
2209          sport  time to get tough on friendlies  for an intern...
2210       politics  teens  know little  of politics teenagers ques...
2211  entertainment  lopez misses uk charity premiere jennifer lope...
2212       business  christmas shoppers flock to tills shops all ov...
2213           tech  progress on new internet domains by early 2005...
2214       business  bush budget seeks deep cutbacks president bush...
2215           tech  junk e-mails on relentless rise spam traffic i...
2216  entertainment  top stars join us tsunami tv show brad pitt  r...
2217           tech  rings of steel combat net attacks gambling is ...
2218          sport  davies favours gloucester future wales hooker ...
2219       business  beijingers fume over parking fees choking traf...
2220       business  cars pull down us retail figures us retail sal...
2221       politics  kilroy unveils immigration policy ex-chatshow ...
2222  entertainment  rem announce new glasgow concert us band rem h...
2223       politics  how political squabbles snowball it s become c...
2224          sport  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [0]:
# Importing label encoder from sklearn for encoding labels
from sklearn.preprocessing import LabelEncoder
lab = LabelEncoder()
y = lab.fit_transform(df.iloc[:,0].values)

In [0]:
X = df.iloc[:, 1].values

In [0]:
# X[0]

In [138]:
# importing libraries for text preprocessing
import re
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem.porter import PorterStemmer

In [0]:
ps = PorterStemmer()

In [0]:
# Processing text converting all text to lower case and removing stopwords
processed_list = []
for i in range(len(X)):
  article = re.sub('[^a-zA-Z]', ' ', X[i])
  article = article.lower()
  article = article.split()
  article = [ps.stem(token) for token in article if not token in stopwords.words('english')]
  article = " ".join(article)
  processed_list.append(article)

In [150]:
# Vectorising text for training of the neural network
cv = CountVectorizer(max_features=3000)
X = cv.fit_transform(processed_list).toarray()
len(cv.get_feature_names())

3000

In [0]:
# Splitting the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

## Using Neural Network for developing model for the classification for the text

In [0]:
# Sigmoid function to convert list's all values to its sigmoid 
def sigmoid(z):
  x = []
  for i in z:
    try:
      x.append(1/(1+np.exp(-i[0])))
    except OverflowError:
      print(i)
      break
      return
  return np.asarray(x)

# One Hot Encoder for encoding labels
def oneHotEncoder(x):
  return np.asarray([int(x == e) for e in range(5)])

# Function for generating result after processsing the model
def result_test(i):
  return list(sigmoid(X_test[i]@w[:])).index(max(sigmoid(X_test[i]@w[:])))

# Learning rate
learning_rate = 0.005

In [0]:
# Generating random weights for the training
w = np.random.random((5, 3000, 1))

In [0]:
# w.shape

In [161]:
# Here we used single layer neural network in which we used Mean Squared Error as a loss function, in each iteration we trained our weights
# for a single input
progress = 0
for i in range(len(X_train)):
  for j in range(len(w)):
    w[j]+=(learning_rate * X_train[i] * 2 * (oneHotEncoder(y_train[i]) - sigmoid(X_train[i]@w[:]))[j]).reshape((3000,1))
  if progress < i/len(X_train)*100:
    progress += 1
    print(progress, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [0]:
# Testing for the accuracy on the test set
acuracy = 0
for i in range(len(X_test)):
  if result_test(i) == y_test[i]:
    acuracy += 1

In [163]:
print(acuracy/len(X_test))

0.9431137724550899